<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!-- Custom styles for this template -->
    <link href="~/Content/justified-nav.css" rel="stylesheet">
    <link href="../Content/Style.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
</head>
<body>

    <div class="masthead">
        <h3 class="text-muted">Project name</h3>
        <nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-3">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav text-md-center nav-justified w-100">
                    <li class="nav-item active">
                        <a class="nav-link" href="https://getbootstrap.com/docs/4.0/examples/justified-nav/#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com/" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Books</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item">@Html.ActionLink("Add Item", "Create", "Book")</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://getbootstrap.com/docs/4.0/examples/justified-nav/#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://getbootstrap.com/docs/4.0/examples/justified-nav/#">Downloads</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://getbootstrap.com/docs/4.0/examples/justified-nav/#">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com/" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="https://getbootstrap.com/docs/4.0/examples/justified-nav/#">Action</a>
                            <a class="dropdown-item" href="https://getbootstrap.com/docs/4.0/examples/justified-nav/#">Another action</a>
                            <a class="dropdown-item" href="https://getbootstrap.com/docs/4.0/examples/justified-nav/#">Something else here</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>